body{
    background-color: black;
    margin:0;
    padding: 0;
} 
/*-----------------Folder------------------*/
/*-----------------Files-----------------*/
.folder{
    width:100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.file{
    width:20%;
    height:100%;
    background-color: gray;
}

.file h3{
    font-size: 4vmin;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.list{
    width:100%;
    height:auto;
    color:rgb(55, 15, 15);
    font-family: monospace;
    font-size: 2.5vmin;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border:1px solid rgb(64, 63, 63);
}
.list:hover{
    background-color: rgb(86, 85, 85);
}

/*----------------editor--------------*/
.editor{
    height:100vh;
    width:80%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
